#title{
    color: rgb(255, 255, 255);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold; font-size: 18px; margin-bottom: 8px;
    line-height: 1.2;
}
.body{
    width: 350px; padding: 15px; font-family: 'Times New Roman', Times, serif; 
    background: #0f0f0f;
    color: #fff8a5;
    border-radius: 20px;
    border: 2px solid;
}
#channel {
    color: #aaaaaa; font-size: 16px;
    margin-bottom: 6px;
    font-style: italic;
    font-weight: 500;
    border-top: 1px solid #333;
    padding-top: 6px;
}
#videoId {
    font-size: 15px;
    opacity: 0.8;
    color: #b2b2b2;
    padding-bottom: 8px;
}
#thumbnail {
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: cover;
}
#copyURLBtn {
    background: transparent;
    color: #f4e88a;

    border: 1px solid #f4e88a;
    border-radius: 8px;

    padding: 10px;
    width: 100%;
    transition: all 0.3s ease;
}
#copyURLBtn:hover {
    background: #f4e88a;
    color: #0f0f0f;
    cursor: pointer;
    transform:translateY(-1px);
}